:root {
    --theme-color-light-satter: #97e669;
    --theme-color-light-sat: #9ee675;
    --theme-color: #65b835;
    --theme-color-light: #aef187;
    --theme-color-lighter: #d2ebc3;

    --second-color: #b83561;
    --second-color-light: #f18799;

    --background-color: #414b3b;
    --white: #ffffff;
    --black: #000000;
}

body {
    font-family: 'Roboto';
    color: var(--black);
    
    background-color: var(--background-color);
    background-image: url(assets/ruru-bird.jpg);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;

    margin: 0;
}

#bird {
    position: fixed;
    right: 0;
    bottom: 0;
    
    margin: 8px;
    
    color: var(--white);
    opacity: 0.6;
    
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    
    width: auto;
    max-width: 480px;
}

#main.hide .mainBox {
    transform: translate(0, 16px);
    opacity: 0;
}

.mainBox {
    width: 100%;
    background-color: var(--white);
    
    padding: 32px;
    margin-bottom: 64px;

    display: block;

    box-shadow: 1px 4px 32px var(--black);

    transition: 
        0.15s calc(var(--child-num, 0) * 0.075s) opacity ease-in-out, 
        0.2s calc(var(--child-num, 0) * 0.075s) transform ease-in-out;
}

#inputs div.ruru::before {
    content: "RURU#";
}

input {
    font-family: 'Roboto';
    font-size: 1rem;
    color: var(--black);

    border: 0;
    border-bottom: 2px solid var(--theme-color);
    border-radius: 2px;
    padding: 4px;
    outline: none;
    
    background-color: var(--theme-color-light);
}

button, .horizontalSelector .option {
    font-family: 'Roboto';
    font-size: 1rem;
    color: var(--black);

    background-color: var(--theme-color-light);

    padding: 8px 12px;
    margin: 4px 0px;
    border: 0;
    border-radius: 4px;
    
    cursor: pointer;
}

#add {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 16px;
    padding-right: 20px;
}

#add img {
    margin-right: 4px;
    height: 24px;
}

input:hover, button:hover, .horizontalSelector .option:hover {
    background-color: var(--theme-color-light-sat);
}

input:focus, button:focus,
input:active, button:active,
.horizontalSelector .option:focus,
.horizontalSelector .option:active {
    background-color: var(--theme-color-light-satter);
}

input:not(:hover), button:not(:hover), .horizontalSelector .option:not(:hover) {
    transition: 0.3s ease-in;
}

.ruru input {
    margin-left: 2px;
}

input.invalid {
    border-color: var(--second-color);
    background-color: var(--second-color-light);
}

.ruru {
    margin-bottom: 8px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1:first-child, h2:first-child, h3:first-child {
    margin-top: 0;
}

h3 {
    margin-bottom: 0.1em;
}

hr {
    display: block;
    width: 84px;
    height: 1px;
    border: none;
    background-color: var(--black);
    text-align: left;

    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 0;
}

#bird a {
    color: inherit;
}

a {
    color: #0044ca;
    text-decoration: none;
    box-shadow: inset 0px 0px transparent;
    transition: 0.15s ease-in-out;
}

a:hover {
    box-shadow: inset 0px -0.075em currentColor;
}

u {
    text-decoration: none;
    box-shadow: inset 0px -3px currentColor;
}

#previousOffencesLastModified {
    opacity: 0.6;
    position: relative;
    top: -18px;
}

#previousOffencesList {
    background-color: var(--theme-color-lighter);
    border-radius: 4px;
}

#previousOffencesList .previousOffence {
    padding: 8px;
    border-bottom: 1px solid #9fc389;
    opacity: 0.75;
}

#previousOffencesList .previousOffence:last-child {
    border-bottom: none;
}

#previousOffencesList .previousOffence div {
    display: inline;
}

.previousOffence .offender::after {
    content: " broke ";
}

.previousOffence .rurusBroken::before {
    content: " RURUs ";
}

.previousOffence .numberOfRurus::before {
    content: " while there were ";
}

.previousOffence .numberOfRurus::after {
    content: " RURUs ";
}

.previousOffence .dateBroken::before {
    content: " on ";
}

.previousOffence .dateBroken::after {
    content: ", ";
}

.previousOffence .result::before {
    content: " which resulted in them getting demoted for ";
}

.previousOffence .result::after {
    content: " hours.";
}

.horizontalSelector {
    display: inline-block;
}

.horizontalSelector .option {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.horizontalSelector .option.selected {
    background-color: var(--theme-color-light-satter);
}